/*
 *  App Name:           Williams Specialty Company (WSC) - Business Automation Process (BPA) Application System
 *  URI:                [URI]
 *  Description:        [description]
 *  Author:             Justin D Byrne
 *  Author URL:         http://www.byrne-systems.com
 *  License:            [license]
 *  Version:            0.1
 */
#williams h2 {
  font-size: 16px;
  color: #1E9BC0;
  font-weight: bold;
  margin-top: 0;
}
#williams nav.navbar .navbar-brand img {
  margin-top: -10px;
}
#williams .container {
  margin: 0 auto;
}
#williams .container .row {
  height: 260px;
}
#williams .container .row .win_login {
  margin-top: 100px;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #DDD;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}
#williams .container .row .control-group {
  padding: 10px;
}
#williams .container .row .control-group input {
  margin-bottom: 10px;
}
#williams .container .row .control-group .panel-heading {
  font-size: 18px;
}
#williams .container .row .control-group .panel-body .form-group label {
  margin-left: 10px;
  font-weight: 0;
  color: #B3B3B3;
}
