# Ignore General Operating Environment Files
*.ini
desktop.*

# Ignore XAMPP (Dev-Server) Files
/_dashboard
/_img
/_webalizer
/_xampp

# Ignore undeveloped Apps
/apps

# Ignore WAFFLE
/lib/stg_Framework

# Ignore LESS source map
/data/logs/LESS_source.map

# Ignore Source Model Files
/doc/models_src/
/doc/models_templates/
*.ai
*.todo